/********************
	GENERAL
********************/

/* site body */
body {
	background-color: #fbfcfa;
	color: #888;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}

/********************
	HEADING
********************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
	
}

/* header */
header {
	background: #7d54ba;
	border-color: #712c98;
}

/* logo text */
h1, h2 {
	color: #fdfddd;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	margin: 15px, 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.825em;
	margin: -5px 0 0;
	font-weight: normal;
	display: inline-block;
	text-align: center;
	padding: 0 3px 0 3px;
}

/********************
	FOOTER
********************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social_icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/********************
	LINKS
********************/

/* link */
a {
	text-decoration: none;
	color: #8b49b1;
}

/* nav background */
nav {
	background:  #712c98;
	text-align: center;
	padding: 10px 0px;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	font-family: 'Acme', sans-serif;
}

/* nav link */
nav a, nav a:visited {
	color: #fdfddd;
	font-weight: 800;
	padding: 15px 10px;
}

/* nav link visited */
nav a.selected, nav a:hover {
	color: #2d046a;
}

/********************
	PAGE PORTFOLIO
********************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #999;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color:#999;
}

#gallery li a img {
	pointer-events: none;
}

/********************
	PAGES PICTURES
********************/

#pictures_page div {
	max-width: 512px;
	height: auto;
	
}

#pictures_page div img {
	pointer-events: none;
}

#pictures_page > div {
	display: none;
}

#pictures_page > div:target {
	display: block;
}

/********************
	PAGE ABOUT
********************/

/***.poem p {
	text-align: left;
	padding-left: 2em;
	text-indent: -2em;
	margin-bottom: -1em;
	word-wrap: break-word;
}***/

/**.prose p {
	text-align: left;
	text-indent: 2em;
}**/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

/********************
	PAGE CONTACT
********************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: inline-block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
	float: left;
}

.contact-info li a.phone {
	background-image: url('../img/phone.png');
}

.contact-info li a.mail {
	background-image: url('../img/mail.png');
	clear: left;
}

.contact-info li a.second_a {
	padding: 0 0 0 0px;
	margin: 0px 0 10px;
	
}

.contact-info li p {
	clear: left;
}

/********************
	JOB CATEGORIES
********************/

.categories {
	text-align: center;
	margin: 0 auto 0 auto;
	font-family: 'Acme', sans-serif;
}

.artist_work {
	box-shadow: 3px 3px 5px #ff9fac;
}

.art {
	color: #ff9fac;
}

.drafting_work {
	box-shadow: 3px 3px 5px #fff99e;
}

.drafting {
	color: #fff99e;
}

.writing_work {
	box-shadow: 3px 3px 5px #baffc3;
}

.writing {
	color: #baffc3;
}

.web_work {
	box-shadow: 3px 3px 5px #cbf1ff;
}

.web_development {
	color: #cbf1ff;
}
